.botonText{
    width: 10vw;
    height: 5vh;
    background-color: #EB9797;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    border-radius: 12px;
    outline: none;
    border: solid 1px #EB9797;
    margin: 2%;
    margin-bottom: 10%;
    /*box-shadow: 2px 2px 2px 0px rgba(165, 97, 139, 0.699);*/
   
    
}

.botonText:focus{
    outline: none;
}

.botonText:hover{
    text-decoration: none;
    color: white;
    background-color: #C14B34;
    transition: 1s;
    transform: scale(1.05);
    /*box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.30);*/
}

.botonText.active{
    outline: none;
}