h2{
    font-size: 25px;
    font-family: 'Comfortaa';
    font-weight: 300;
    margin: 20px;
}

.formCard{
    margin-top: 2%;
    background-color: white;
    width: 50vw;
    height: auto;
    /*border-top: solid 2px grey;*/
    font-size: 15px;
    font-family: 'Comfortaa';
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.20);
    border-radius: 20px;
    padding: 2%;
    


}

.formulario{
    
    text-align: justify;
}

.label{
    padding-right: 2vw;
    width: 30%;
   
}

.input{
    background-color: rgba(226, 196, 196, 0.575);
    border: none;
    width: 60%;
    height: 30px;
    padding-right: 10%;
    outline: none;
    margin: 10px;  
    
}
.errInput{
    background-color: rgba(226, 196, 196, 0.575);
    border: none;
    width: 60%;
    height: 30px;
    padding-right: 10%;
    outline: none;
    margin: 10px;
    border: 1px solid red
}

.inputImg{
    background-color: rgba(226, 196, 196, 0.575);
    display: none;
    border: none;
    width: 60%;
    height: 30px;
    padding-right: 10%;
    outline: none;
    margin: 10px;

}
.imgLavel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #EB9797;
    color:white;
    width: 150px;
    height: 38px;
    border-radius: 10px;
        
}

.imagesContainer{
    width: 98%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.imageCard{ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 130px;
    height: 80px;
    background-size: cover;       
    border-radius: 4px;
    background-position: center;
}
.borde{
    border: 1px solid #ddd;
    
    border-radius: 4px;
    padding: 3px;
    margin: 10px;    
}

.imageButton{    
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    align-items: flex-start;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: none;
    
}


.botonText{
    width: 7vw;
    height: 5vh;
    background-color: #EB9797;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 3%;
    border-radius: 10px;
    border: solid 1px #EB9797;
}

.botonText:hover{
    text-decoration: none;
    color: white;
    background-color: tomato;
    transition: 1s;
    
    /*box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.30);*/
}

.botonText2{
    width: 15vw;
    height: 5vh;
    background-color: #EB9797;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4%;
    border-radius: 10px;
    border: solid 1px #EB9797;
}

.botonText2:hover{
    text-decoration: none;
    color: white;
    background-color: tomato;
    transition: 1s;
    
    /*box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.30);*/
}
.botonGuardar{
    width: 3vw;
    height: 5vh;
    background-color: #EB9797;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4%;
    border-radius: 10px;
    border: solid 1px #EB9797;
}

.botonGuardar{
    width: 5vw;
    height: 5vh;
    background-color: #EB9797;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4%;
    border-radius: 10px;
    border: solid 1px #EB9797;
}


.botonDisabled{
    
    background-color: #ebe6e6;
    width: 7vw;
    height: 5vh;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 3%;
    border-radius: 10px;
    border: solid 1px #ebe6e6;
}

.botonDisabled:focus{
    outline: none;
}

.icon{
    width: 2vw;
    
}

.select{
    width: 15%;
    background-color: rgba(226, 196, 196, 0.575);
    padding: 10px;

}
.formularioErrName{
    background-color: rgba(226, 196, 196, 0.575);
    border: none;
    width: 60%;
    height: 30px;
    padding-right: 10%;
    outline: none;
    margin: 10px;
    text-align: justify;
    border: 2px solid red;
}

.formularioErrDescription{
    background-color: rgba(226, 196, 196, 0.575);
    border: none;
    width: 60%;
    height: 30px;
    padding-right: 10%;
    outline: none;
    margin: 10px;
    text-align: justify;
    border: 2px solid red;
}
.formularioErrPrice{
    background-color: rgba(226, 196, 196, 0.575);
    border: none;
    width: 60%;
    height: 30px;
    padding-right: 10%;
    outline: none;
    margin: 10px;
    text-align: justify;
    border: 2px solid red;
}
.formularioErrStock{
    background-color: rgba(226, 196, 196, 0.575);
    border: none;
    width: 60%;
    height: 30px;
    padding-right: 10%;
    outline: none;
    margin: 10px;
    text-align: justify;
    border: 2px solid red;
}
.formularioErrImage{
    background-color: rgba(226, 196, 196, 0.575);
    border: none;
    width: 60%;
    height: 30px;
    padding-right: 10%;
    outline: none;
    margin: 10px;
    text-align: justify;
    border: 2px solid red;
}

.errores{
    color: red;
}
.botonTexto{
    
    height: 5vh;
    background-color: #EB9797;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin: 4%;
    border-radius: 10px;
    border: solid 1px #EB9797;
}


.botonClase{
    width: 13vw;
    height: 38px;
    background-color: #EB9797;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4%;
    border-radius: 10px;
    border: solid 1px #EB9797;
}

.botonClaseActive{
    background-color: grey;
    width: 13vw;
    height: 38px;   
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4%;
    border-radius: 10px;
    border: solid 1px grey;
}
.categories{
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa';
    font-size: 20px;
    padding-bottom: 30px;
    
}